@charset "utf-8";

* {
    box-sizing: border-box; 
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -khtml-box-sizing: border-box;
}

/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
outline: 0;
}

/* MAIN */

body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
    color: #afafaf;
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.logo-top {
  text-align: center;
  margin-top: 40px;
}

.logo {
  opacity: 0.3;
}

.container {
  max-width: 1050px;
  margin: 0 auto;  
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 1200px;  
}

.box {
  width: calc(50% - 80px);
  margin-bottom: 20px;
}

.shadow-box {
  background-color: rgba(0, 0, 0, 0.23);
  padding: 20px;
  border-radius: 3px;
  margin-top: 8px;
}

.form-box {
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 20px 20px 5px 20px;
}

/* INPUT FIELDS */

.input-item {
  width: 100%;
  margin-bottom: 20px;
}

input, select, option, textarea {
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  color: #afafaf;
  font-size: 1.0rem;
  font-weight: 300;
  line-height: 1.2;
  overflow: hidden;
  background-color: #f4f4f4;
  border: solid #c6c6c6 1px;
  border-radius: 2px;
  padding: 10px 5px 8px 80px;
  box-shadow: 0 1px 1px #FFF;
}

textarea {
  resize: none;
  height: 230px;
  padding-left: 15px;
  margin-bottom: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown {
  background: url(icons/arrow.png) no-repeat 95% 50%;
}

input::placeholder, textarea::placeholder {
    font-size: 16px;
    color: #afafaf;
    line-height: 1.2;
}

input:focus {
  outline: none;
  border: 1px solid #9cd437;
}

select:focus {
  outline: none;
  border: 1px solid #9cd437;
}

textarea:focus {
  outline: none;
  border: 1px solid #9cd437;
}


input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 22px;
  height: 22px;
  border: solid #c6c6c6 1px;
  border-radius: 2px;
  background-color: #f4f4f4;
  cursor: pointer;
  box-shadow: 0 1px 1px #FFF;
  padding: 4px 4px;
}

#accept:checked, #send-copy:checked, #remember:checked {
  background: url(icons/checked.png) no-repeat center;
  background-size: 13px 13px;
  outline: none;
  border: 1px solid #9cd437;
}

label {
  color: #afafaf;
  font-size: 1.1rem;
  font-weight: 300;
  margin-left: 10px;
}

h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.item-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* BUTTONS */

/* large green button */

.green-btn {
  background-image: linear-gradient(#a2d73e, #80c41f);
  width: 100%;
  height: 46px;
  border: 1px solid #339900;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 1px 1px 1px #466801;
  text-align: center;
  box-shadow: inset 0 1px 0 #addc54;
  cursor: pointer;
}

.green-btn:focus {
  outline: none;
  border: 1px solid #9cd437;
}

.green-btn:hover {
  background: linear-gradient(#97d02b, #72ae1c);
}

/* small green button */

.green-btn-small {
  background-image: linear-gradient(#a2d73e, #80c41f);
  width: 40%;
  height: 41px;
  border: 1px solid #339900;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-shadow: 1px 1px 1px #466801;
  text-align: center;
  box-shadow: inset 0 1px 0 #addc54;
  cursor: pointer;
}

.green-btn-small:focus {
  outline: none;
  border: 1px solid #9cd437;
}

.green-btn-small:hover {
  background: linear-gradient(#97d02b, #72ae1c);
}

.disabled{
  background-image: linear-gradient(#c5e0a4, #acd182);
  border: 1px solid #90ca6d;
  cursor: not-allowed;
  text-shadow: 1px 1px 1px #3d7309;
  box-shadow: inset 0 1px 0 #cde4b0;
  font-size: 1.1rem;
 }

 .disabled:hover {
  background-image: linear-gradient(#c5e0a4, #acd182);
  border: 1px solid #90ca6d;
  cursor: not-allowed;
  text-shadow: 1px 1px 1px #3d7309;
  box-shadow: inset 0 1px 0 #cde4b0;
  font-size: 1.1rem;
 }

/* red button */

.red-btn {
  background-image: linear-gradient(#f65e6f, #f03848);
  border: 1px solid #a2202a;
  box-shadow: 0 1px 0 #f76f7f;
  text-shadow: 1px 1px 1px #4e2605;
  font-size: 1.1rem;
}

.red-btn:focus {
  outline: none;
  border: 1px solid #f65e6f;
}

.red-btn:hover {
  background: linear-gradient(#f54659, #ee2032);
}

/* ICONS IN INPUT FIELD */

input[id=username] {
  background: url(icons/user.png) no-repeat 16px 50%, url(icons/line.png) no-repeat 60px 4px; 
}

input[id=password] {
  background: url(icons/password.png) no-repeat 19px 50%, url(icons/line.png) no-repeat 60px 4px; 
}

input[id=email] {
  background: url(icons/mail.png) no-repeat 16px 50%, url(icons/line.png) no-repeat 60px 4px; 
}

select[id=location] {
  background: url(icons/location.png) no-repeat 20px 50%, url(icons/line.png) no-repeat 60px 4px; 
}

input[id=phone] {
  background: url(icons/phone.png) no-repeat 20px 50%, url(icons/line.png) no-repeat 60px 4px; 
}


/* MEDIA QUERIES */

@media all and (max-width: 860px) {
  .container {
    height: auto;
  }

  .box {
  width: calc(100% - 250px);
  }
} 

@media all and (max-width: 660px) {
  
  .box {
  width: calc(100% - 150px);
  }
} 

 @media all and (max-width: 480px) {
  .box {
    width: calc(100% - 40px);
  }

  .logo {
    max-width: 300px;
  }
}

@media all and (max-width: 360px) {
  .red-btn {
    font-size: 0.7rem;
  }

  .item-flex {
    align-items: center;
  }

  .logo {
    max-width: 290px;
  }
}

@media all and (max-width: 322px) {
  .item-flex {
    flex-direction: column;
  }

  .green-btn-small, .red-btn {
    width: 100%;
  }

  .red-btn, .disabled {
    font-size: 1.1rem;
    margin-top: 20px;
  }

  .logo {
    max-width: 200px;
  }
}



